@media screen {
    body {

        font-family:Courier new, monospace;
    }
    div.opening, div.closing {
        background-color: white;
        padding:25px 100px 50px;

    }
    #output p {
        width:1000px;
        background-color:white;
        text-align:justify;
    }
    h2 {
        width:575px;
        margin-left:340px;
        color:black;
        letter-spacing:10px;


    }




}
@media print {
    body {
        font:12pt Courier new, serif;
    }
}